<template id="viz-table-fallback-template" data-component="viz-table-fallback">
  <div class="viz-table-container" data-viz-table-container>
    <button
      type="button"
      class="viz-table-toggle"
      data-viz-table-toggle
      aria-expanded="false"
    >
      Show data table
    </button>
    <div class="viz-table-wrapper" data-viz-table-wrapper hidden>
      <table class="viz-table" data-viz-table>
        <caption data-viz-table-caption></caption>
        <thead data-viz-table-head></thead>
        <tbody data-viz-table-body></tbody>
      </table>
    </div>
  </div>
</template>
